body{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: url("https://styleyard.de/wp-content/uploads/2017/12/Buchtipp.jpg");
  background-size: cover;}

.box1 {
  z-index:2;
  position:fixed;
  top:0px;
  background-color:#249428 ;
  height:60px;
  left:0px;
  right:0px;
  overflow:hidden;}
.box1 a{
  float:left;
  display:block;
  color:black;
  text-align:center;
  padding:18px;
  text-decoration:none;
  font-weight:bold;
  font-family:Arial;
  font-size:24px;}

.box2 {
  z-index:1;
  position:absolute;
  top:15%;
  left: 20%;
  right: 20%;
  bottom: 60px;
  overflow: hidden;
  background-color: white;
  padding: 7px;}

.box3 {
  z-index:1;
  position:absolute;
  top:16%;
  left:25%;
  width: 50%;
  padding:25px;
  background-color:#249428;
  height:80px;
  overflow:hidden;
  text-align:center;
  word-spacing: 1em;}
.box3 a{
  color:black;
  text-decoration:none;
  font-weight:bold;
  font-family:Arial;
  font-size:30px;
  white-space: nowrap;}

.box4 {
z-index:2;}

.box5 {
  z-index:2;
  position:fixed;
  background-color:#249428;
  bottom:0px;
  height:40px;
  left:0px;
  right:0px;
  padding:18px;
  overflow:hidden;
word-spacing: 1em;}
.box5 a{
  color:black;
  text-align:left;
  text-decoration:none;
  font-weight:bold;
  font-family:Arial;
  font-size:24px;}
  
.box6 {
  z-index:1;
  position:absolute;
  top:16%;
  left:25%;
  width: 50%;
  padding:25px;
  background-color:white;
  height:50%;
  overflow:hidden;
  text-align:center;}
.box6 a{
  color:black;
  text-decoration:none;
  font-weight:bold;
  font-family:Arial;
  font-size:30px;
  white-space: nowrap;}
  
