.box1 {
  position:fixed;
  top:0px;
  background-color:#249428 ;
  height:60px;
  left:0px;
  right:0px;
  overflow:hidden;}
.box1 a{
  float:left;
  display:block;
  color:black;
  text-align:center;
  padding:18px;
  text-decoration:none;
  font-weight:bold;
  font-family:Arial;
  font-size:24px}
.box2 {
  position:absolute;
  top:20%;
  bottom:20%;
  left: 10%;
  right: 10%;}
body{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: url("https://styleyard.de/wp-content/uploads/2017/12/Buchtipp.jpg");
  background-size: cover;}
.box3 {
  position:absolute;
  top:20%;
  background-color:#249428 ;
  height:80px;
  left:25%;
  right:25%;}
.box3 a{
  display:block;
  color:black;
  text-align:center;
  padding:25px;
  text-decoration:none;
  font-weight:bold;
  font-family:Arial;
  font-size:30px}
