.box1 {
  position:fixed;
  top:0px;
  background-color:#249428 ;
  height:60px;
  margin-left:0px;
  margin-right:0px;
  overflow:hidden;}
.box1 a{
  float:left;
  display:block;
  color:black;
  text-align:center;
  padding:18px;
  text-decoration:none;
  font-weight:bold;
  font-family:Arial;
  font-size:24px}
.box2 {
  position:absolute;
  margin-top:20%;
  margin-bottom:20%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;}
body{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: url("https://styleyard.de/wp-content/uploads/2017/12/Buchtipp.jpg");
  background-size: cover;}
.box3 {
  position:absolute;
  margin-top:16%;
  background-color:#249428;
  height:80px;
  margin-left:25%;
  margin-right:25%;
  padding:25px;
  overflow:hidden;}
.box3 a{
  color:black;
  text-align:center;
  text-decoration:none;
  font-weight:bold;
  font-family:Arial;
  font-size:30px;
  white-space: nowrap;}
