.box1 {
  position: fixed;
  top: 0px;
  background-color:#249428 ;
  height:10%;
  left: 0px;
  right: 0px;
  overflow: hidden;
}
.box1 a{
float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-style:  oblique;
  font-family: Arial;
}
